{% extends "management/base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}

<div class="dashboard-header">

    <div>

        <h1>Reports</h1>

        <p>
            Generate library management reports
        </p>

    </div>

</div>


<div class="quick-actions">

    <a href="#" class="action">

        <br><br>

        Attendance Report

        <br>

        <small>
            Daily / Monthly
        </small>

    </a>


    <a href="#" class="action">


        <br><br>

        Fee Report

        <br>

        <small>
            Payments & Pending
        </small>

    </a>


    <a href="#" class="action">


        <br><br>

        Student Report

        <br>

        <small>
            Student information
        </small>

    </a>


    <a href="#" class="action">


        <br><br>

        Seat Report

        <br>

        <small>
            Seat utilization
        </small>

    </a>


    <a href="#" class="action">

        <br><br>

        Subscription Report

        <br>

        <small>
            Active & expired
        </small>

    </a>


    <a href="#" class="action">


        <br><br>

        Revenue Report

        <br>

        <small>
            Monthly revenue
        </small>

    </a>

</div>

{% endblock %}